upload.zqian.nyc.mn, cloud.189.cn {
  tls 604922962@qq.com

  forwardproxy {
    basic_auth btuser btpass
    hide_ip
    hide_via
    probe_resistance
  }

  log {
    output file /var/log/caddy/naiveproxy-access.log {
      roll_size 10mb
      roll_keep 5
      roll_keep_for 720h
    }
  }
}


plex-v.zqian.nyc.mn {
  reverse_proxy 127.0.0.1:18080
  tls_internal

  log {
    output file /var/log/caddy/plex.log {
      roll_size 10mb
      roll_keep 5
      roll_keep_for 720h
    }
  }
}